@charset "utf-8";

/* header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #000;
    top: 0;
    left: 0;
    z-index: 999;
}

.overflow-hide {
    overflow: hidden;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
    background: #000;
}

.m-logo {
    padding-left: 20px;
}

.navi-div .navi {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navi-div .navi li a {
    font-size: 20px;
    color: #fcdc01;
    display: inline-block;
}

.navi-div .navi .contact-sty {
    background: #fcdc01;
    height: 80px;
    display: table;
}

.navi-div .navi .contact-sty a {
    color: #000;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

/* Mv */
.mv-sec {
    padding-top: 80px;
}

.mv-div {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px 20px 200px;
}

.typed-cursor {
    font-size: 40px;
    color: #ffffff;
}

.mv-txt {
    color: #fff;
    font-family: 'Roboto', Times, serif;
}

.mv-info {
    font-size: 36px;
}

.name-txt {
    font-size: 52px;
    color: #000;
    -webkit-text-stroke: 1px #ffffff;
}

.position-txt {
    font-size: 40px;
}

.sp {
    display: none;
}

@media screen and (max-width : 1080px) {

    .mv-img img {
        width: 360px;
    }

    .mv-info {
        font-size: 24px;
    }

    .name-txt {
        font-size: 30px;
    }

    .position-txt {
        font-size: 25px;
    }

    .typed-cursor {
        font-size: 25px;
    }

    .navi-div .navi li a {
        font-size: 16px;
    }
}

@media screen and (max-width : 768px) {
    .sp {
        display: block;
    }

    .mv-div {
        display: block;
        padding: 70px 20px 100px;
    }

    .mv-txt {
        padding-top: 50px;
        text-align: center;
    }

    .typed-cursor {
        font-size: 40px;

        display: none;
    }

    .mv-txt {
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
    }

    .typed-cursor {
        font-size: 35px;
    }

    .mv-info {
        font-size: 30px;
    }

    .name-txt {
        font-size: 45px;
    }

    .position-txt {
        font-size: 35px;
    }

    .navi-div {
        position: absolute;
        background: #000;
        top: -100vh;
        left: 0px;
        width: 100%;
        height: calc(100vh - 80px);
        transition: all .5s linear;
        z-index: -1;
    }

    .navi-div.sp_menu_open {
        top: 80px;
        transition: all .5s linear;
    }

    .navi-div .navi {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 30px;
    }

    .navi-div .navi li a {
        font-size: 25px;
    }

    .navi-div .navi .contact-sty a {
        padding: 15px;
    }

    .menu {
        margin-right: 20px;
        cursor: pointer;
    }

    .menu .line {
        width: 40px;
        height: 5px;
        background: gold;
        margin: 5px 0px;
        transition: all .3s linear;
    }

    .menu .line.rotate-left {
        background: gold;
        transform: translateY(-2px) rotate(45deg);
        transform-origin: top left;
        transition: all .2s linear;
    }

    .hide {
        opacity: 0;
        transition: all .2s linear;
    }

    .menu .line.rotate-right {
        background: gold;
        transform: translateY(3px) rotate(-45deg);
        transform-origin: bottom left;
        transition: all .2s linear;
    }

    .mv-sec {
        min-height: 825px;
    }

}

@media screen and (max-width : 500px) {
    .mv-sec {
        min-height: 766px;
    }

    .typed-cursor {
        font-size: 23px;
    }

    .mv-txt {
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
    }

    .mv-info {
        font-size: 20px;
    }

    .name-txt {
        font-size: 28px;
    }

    .position-txt {
        font-size: 23px;
    }

    .mv-div {
        padding: 70px 10px 100px;
    }

}

@media screen and (max-width : 420px) {
    .mv-div {
        padding: 70px 10px 75px;
    }

    .mv-sec {
        min-height: 727px;
    }

}

/* About */
.about-sec {
    padding: 60px 0 100px;
}

.about-intro-div {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 0;
}

.about-intro-div .about-para {
    width: 60%;
}

.about-para {
    font-size: 18px;
    color: #000;
}

@media screen and (max-width : 1000px) {
    .about-intro-div {
        gap: 50px;
    }
}

@media screen and (max-width : 768px) {
    .about-sec {
        padding: 60px 0 70px;
    }

    .about-intro-div {
        display: block;
    }

    .about-intro-div .about-para {
        width: 100%;
    }

    .about-img {
        margin-top: 40px;
    }
}

.skill-see {
    padding: 60px 0 100px;
}

.progress {
    border-radius: 10px;
}

.progress .progress-bar {
    width: 0px;
    border-radius: 10px;
    transition: 2s;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0BCEAF;
    transition: width 0.6s ease;
}

.bg-primary {
    background-color: #0BCEAF !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-photoshop {
    background-color: blue;
}

.bg-xd {
    background-color: #07c35f;
}

.bg-google {
    background-color: #af07c3;
}


@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        animation: none;
    }
}

.skill-gp {
    padding: 60px 0 0;
}

.skill-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width : 768px) {
    .skill-see {
        padding: 60px 0 70px;
    }
}

/* Exprience */
.exprience-sec {
    padding: 60px 0 100px;
}

.history-year {
    display: flex;
    width: 100%;
    gap: 40px;
}

.history-year .circle-block {
    position: relative;

    display: inline-block;
    width: 130px;
}

.history-year .circle-block.last:before {
    position: absolute;
    bottom: 22px;
    left: 12%;

    display: block;
    width: 64px;
    height: 0;

    content: "";
    transform: rotate(45deg);

    border-top: 3px solid #fcdc01;
}

.history-year .circle-block:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    display: block;
    width: 0;
    height: calc(100%);

    content: "";

    border-left: 3px solid #fcdc01;
}

.history-year .circle {
    position: absolute;
    z-index: 1;

    display: flex;
    width: 130px;
    height: 130px;

    border: 1px solid #fcdc01;
    border-radius: 50%;
    background: #fcdc01;

    align-items: center;
    justify-content: center;
}

.circle span {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;

    color: #000;
}

.history-year .right-block {
    display: inline-block;
    width: calc(100% - 130px);
}

.right-block .txt-block {
    padding-top: 18px;
    padding-bottom: 60px;
}

.history-txt {
    font-size: 25px;
}

.history-txt1 {
    font-size: 20px;
}

@media screen and (max-width : 768px) {
    .exprience-sec {
        padding: 60px 0 70px;
    }

    .history-year {
        gap: 20px;
    }

    .history-year .circle-block {
        width: 100px;
    }

    .history-year .circle {
        width: 100px;
        height: 100px;
    }

    .history-year .right-block {
        width: calc(100% - 100px);
    }

    .circle span {
        font-size: 26px;
    }

    .history-txt {
        font-size: 20px;
    }

    .history-txt1 {
        font-size: 16px;
    }

    .right-block .txt-block {
        padding-bottom: 40px;
        padding-top: 10px;
    }
}

@media screen and (max-width : 450px) {
    .history-year {
        gap: 15px;
    }

    .history-year .circle-block {
        width: 80px;
    }

    .history-year .circle {
        width: 80px;
        height: 80px;
    }

    .history-year .right-block {
        width: calc(100% - 80px);
    }

    .circle span {
        font-size: 20px;
    }

    .history-txt {
        font-size: 18px;
    }

    .history-txt1 {
        font-size: 15px;
    }
}

@media screen and (max-width : 370px) {
    .history-year {
        gap: 10px;
    }

    .history-year .circle-block {
        width: 60px;
    }

    .history-year .circle {
        width: 60px;
        height: 60px;
    }

    .history-year .right-block {
        width: calc(100% - 60px);
    }

    .circle span {
        font-size: 16px;
    }

    .history-txt {
        font-size: 16px;
    }

    .history-txt1 {
        font-size: 14px;
    }

    .right-block .txt-block {
        padding-top: 7px;
        padding-bottom: 30px;
    }
}

/* personal info start */
.personal-sec {
    background-color: #000;
    padding: 50px 0px;

}

.personal-sec .main-ttl {
    color: #000;
    -webkit-text-stroke: 1px #fcdc01;
}

.personal-sec .sub-ttl {
    color: #fcdc01;
}

.personal-sec .per-info-box {
    max-width: 860px;
    margin: 50px auto;
    padding: 60px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.personal-sec .per-info-box .infos div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.personal-sec .per-info-box p {
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: left;
    max-width: 100%;
    word-break: break-all;
}

.per-info-box .info-sns img {
    max-width: 45px;
    max-height: 45px;
}

.per-info-box .info-sns {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.infos a {
    color: #fff;
    display: inline-block;
    font-size: 25px;
}

.infos .m-wd {
    width: 30px;
}

.infos .m-wd1 {
    width: 40px;
}

.anchorH {
    display: block;
    visibility: hidden;
    margin-top: -60px;
    height: 60px;
}

@media screen and (max-width:768px) {
    .personal-sec .main-ttl {
        font-size: 60px;
    }

    .personal-sec .sub-ttl {
        color: #fcdc01;
    }


    .personal-sec .per-info-box {
        margin: 30px auto 20px;
        padding: 30px;
    }

    .per-info-box .info-sns img {
        max-width: 35px;
        max-height: 35px;
    }

    .per-info-box .info-sns {
        gap: 30px;
        margin-top: 20px;
    }

    .personal-sec .per-info-box p {
        font-size: 22px;
    }

    .infos a {
        font-size: 22px;
    }

    .personal-sec .per-info-box .infos div {
        gap: 15px;
    }
}

@media screen and (max-width: 550px) {
    .personal-sec .per-info-box p {
        font-size: 16px;
    }

    .personal-sec .main-ttl {
        font-size: 40px;
    }

    .personal-sec .sub-ttl {
        font-size: 20px;
    }

    .personal-sec .per-info-box {
        padding: 30px 15px;
    }

    .infos .m-wd {
        width: 20px;
    }

    .infos .m-wd1 {
        width: 30px;
    }

    .infos a {
        font-size: 16px;
    }

    .personal-sec .per-info-box .infos div {
        gap: 10px;
    }

    .m-logo a img {
        width: 170px;
    }

}

@media screen and (max-width: 383px) {
    .personal-sec .per-info-box p {
        font-size: 14px;
    }

    .infos a {
        font-size: 14px;
    }

    .personal-sec .per-info-box {
        padding: 30px 0px 30px 8px;
    }

    .m-logo a img {
        width: 165px;
    }

    .infos .m-wd {
        width: 17px;
    }

    .personal-sec .per-info-box .infos div {
        gap: 8px;
    }

}

/* personal info end */