@charset "utf-8";

/* MV */
.mv-container {
    position: relative;
    padding-bottom: 50px;
}

.m-logo {
    position: absolute;
    top: 20px;
    left: 35px;
}

.mv-sec {
    position: relative;
}

.mv-sec::before {
    content: "";
    background: #EBEBEB;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 62%;
    left: 0px;
}

.mv-sec::after {
    content: "";
    background: url(../img/common/mv-food.png)no-repeat;
    background-size: contain;
    width: 243px;
    height: 138px;
    position: absolute;
    top: 47.5%;
    left: -20px;
}

.mv-sec .mv-left {
    padding-top: 142px;
    width: 45%;
    padding-left: 70px;
}

.mv-sec .mv-right {
    padding-top: 25px;
    width: 55%;
}

.mv-sec .mv-left .left-info {
    position: relative;
    padding-bottom: 130px;
}

.mv-sec .left-link-gp {
    padding-top: 45px;
}

.mv-sec .left-link-gp .left-link-bock1 li {
    position: relative;
}

.li-txt {
    font-size: 1.8rem;
}

.mv-sec .left-link-gp .left-link-bock1 li::before {
    content: "";
    background: url(../img/common/r_down_arr.png)no-repeat;
    background-size: contain;
    width: 10px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0px;
}

.mv-sec .left-link-gp .left-link-bock1 li a {
    padding-left: 20px;
    display: inline-block;
}

.mv-sec .left-link-gp .left-link-bock2 {
    padding-top: 45px;
}

.left-link-bock2 {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.left-link-bock2 li {
    text-align: center;
    width: 50%;
    border: 1.5px solid #E2001A;
    border-radius: 37px;
    position: relative;
}

.left-link-bock2 li a {
    padding: 40px 10px 10px;
    position: relative;
}

.left-link-bock2 li a .photo-pos {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
}

.left-link-bock2 li a .link-photo1 {
    height: 64px;
}

.left-link-bock2 li a .link-photo2 {
    height: 65px;
}

.left-link-bock2 li a .ttl {
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
}

.left-link-bock2 li a .txt {
    font-size: 1.3rem;
    color: #767676;
    font-weight: 400;
}

.w-chance::before {
    content: "";
    background: url(../img/common/w_chance.png)no-repeat;
    width: 62px;
    height: 62px;
    background-size: contain;
    position: absolute;
    top: -10px;
    left: -10px;
}

.mv-left .left-info .ttl1 {
    font-size: 2.5rem;
}

.mv-left .left-info .ttl2 {
    font-size: 1.8rem;
}

.mv-sec .mv-right .mv-neko-img {
    padding-top: 50px;
}

.mv-sec .mv-right .voice-bg {
    background: url(../img/common/voice.png)no-repeat;
    width: 319px;
    height: 319px;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: -1;
    background-size: contain;
}

.mv-sec .mv-right .voice-bg .voice-slider {
    position: absolute;
    top: 61%;
    transform: translateY(-61%);
    padding: 0 55px 0 35px;
    letter-spacing: -2px;
    text-align: justify;
    font-size: 1.4rem;
    width: 100%;
    word-break: break-all;
}

.voice-slider .slick-dots {
    width: 0;
    right: 50px;
    top: 0;
}

.voice-slider .slick-dots li {
    margin-left: 15px;
    display: block;
    width: 10px;
    height: 8px;
    padding: 8px 0;
}

.voice-slider .slick-dots li button:before {
    content: "";
    background: #ccc;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.voice-slider .slick-dots li.slick-active button:before {
    opacity: .75;
    background: #333333;
}

.voice-slider .voice-txt {
    font-size: 1.4rem;
}


@media screen and (max-width: 1200px) {
    .mv-sec .mv-right .voice-bg {
        width: 290px;
        height: 290px;
        top: 15px;
        right: 20px;
    }

    .voice-slider .voice-txt {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1080px) {
    .m-logo {
        left: 0;
    }

    .mv-sec .mv-left {
        padding-left: 0;
        width: 40%;
    }

    .mv-sec .mv-right {
        width: 60%;
    }

    .mv-left .mv-chan-img img {
        width: 350px;
    }

    .mv-left .left-info .ttl1 {
        font-size: 2rem;
    }

    .mv-left .left-info .ttl2 {
        font-size: 1.4rem;
    }

    .mv-sec::after {
        width: 200px;
        height: 115px;
    }

    .mv-sec::before {
        top: 64%;
    }

    .mv-sec .mv-right .mv-neko-img img {
        width: 445px;
    }

    .mv-sec .mv-right .voice-bg {
        width: 246px;
        height: 246px;
        top: 15px;
        right: 20px;
    }

    .mv-sec .mv-right .voice-bg .voice-slider {
        top: 66%;
        left: 8px;
    }

    .mv-sec .mv-left {
        padding-top: 95px;
    }

    .mv-sec .mv-left .left-info {
        padding-bottom: 100px;
    }

    .li-txt {
        font-size: 1.5rem;
    }

    .mv-sec .left-link-gp .left-link-bock1 li::before {
        top: 7px;
        width: 8px;
        height: 10px;
    }

    .mv-sec .left-link-gp .left-link-bock1 li a {
        padding-left: 14px;
        display: inline-block;
    }

    .gap25-1080 {
        gap: 15px !important;
    }

    .mv-sec .left-link-gp .left-link-bock2 li a {
        padding: 30px 10px 10px;
    }

    .mv-sec .left-link-gp .left-link-bock2 li a .ttl {
        font-size: 1.5rem;
    }

    .mv-sec .left-link-gp .left-link-bock2 li a .txt {
        font-size: 1rem;
    }

    .mv-sec .left-link-gp .left-link-bock2 li a .link-photo1 {
        height: 55px;
    }

    .mv-sec .left-link-gp .w-chance::before {
        width: 47px;
        height: 47px;
    }

    .mv-sec .left-link-gp .left-link-bock2 li a .link-photo2 {
        height: 54px;
    }
}

@media screen and (max-width: 890px) {
    .mv-container {
        padding-bottom: 30px;
    }

    .mv-left .left-info .ttl1 {
        font-size: 1.7rem;
    }

    .mv-left .left-info .ttl2 {
        font-size: 1.2rem;
    }

    .mv-left .mv-chan-img img {
        width: 265px;
    }

    .mv-sec::after {
        width: 125px;
        height: 70px;
        top: 40.5%;
    }

    .mv-sec::before {
        top: 51%;
    }

    .voice-slider .voice-txt {
        font-size: 1.1rem;
    }

    .mv-sec .mv-right .voice-bg {
        width: 230px;
        height: 230px;
        top: 10px;
    }

    .mv-sec .mv-right .voice-bg .voice-slider {
        top: 68%;
        left: 10px;
    }

    .mv-sec .mv-left .left-info {
        padding-bottom: 60px;
    }

    .mv-sec .left-link-gp {
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .mv-sec .mv-right {
        width: 100%;
        padding-top: 60px;
    }

    .mv-sec .mv-left {
        width: 100%;
    }

    .mv-sec::after {
        display: none;
    }

    .mv-sec .mv-right .voice-bg {
        top: 25px;
        left: 70%;
        transform: translateX(-50%);
        width: 260px;
        height: 260px;
    }

    .mv-sec .slick-track {
        left: -2px;
    }

    .m-logo a img {
        width: 100px;
    }

    .mv-sec .mv-right .voice-bg .voice-slider {
        top: 62%;
        left: 0px;
        padding: 0px 45px 0 30px;
    }

    .mv-sec::before {
        top: 60%;
    }

    .mv-sec .mv-left {
        padding-top: 60px;
    }

    .mv-sec .mv-left .left-info {
        padding-bottom: 20px;
    }

    .mv-container {
        padding-bottom: 0;
    }

    .vd-container iframe {
        height: 450px;
    }

    .illu-img1 img {
        width: 250px;
    }

}

@media screen and (max-width: 700px) {
    .vd-container iframe {
        height: 350px;
    }

}

@media screen and (max-width: 650px) {
    .mv-sec .mv-right {
        padding-top: 60px;
    }

    .mv-sec .mv-right .voice-bg {
        top: 25px;
        left: 67%;
        transform: translateX(-50%);
        width: 230px;
        height: 230px;
    }

    .mv-sec .mv-right .voice-bg .voice-slider {
        top: 67%;
        left: 9px;
    }

    .voice-slider .voice-txt {
        font-size: 1.2rem;
    }

    .mv-sec .mv-right .mv-neko-img img {
        width: 410px;
    }

    .mv-sec::before {
        top: 49%;
    }

    .left-link-bock2 {
        display: block;
    }

    .left-link-bock2 li {
        width: 100%;
        margin-bottom: 50px;
    }

    .vd-container iframe {
        height: 300px;
    }

}

@media screen and (max-width: 570px) {
    .mv-sec .mv-right .mv-neko-img img {
        margin: 0 0 auto !important;
    }

    .mv-sec .mv-right .voice-bg {
        top: 43px;
    }
}

@media screen and (max-width: 500px) {

    .mv-sec .mv-right .voice-bg {
        width: 215px;
        height: 215px;
    }

    .mv-sec .mv-right .mv-neko-img img {
        width: 410px;
    }

    .mv-sec .mv-right .mv-neko-img {
        margin-left: -15px;
    }

}

@media screen and (max-width: 460px) {

    .mv-sec .mv-right .voice-bg {
        width: 200px;
        height: 200px;
        left: 50%;
        top: 60px;
    }

    .voice-slider .voice-txt {
        font-size: 1.2rem;
    }

    .mv-sec .mv-right .mv-neko-img {
        padding-top: 200px;
    }

    .mv-sec .mv-right .mv-neko-img img {
        margin: 0 auto !important;
    }

    .mv-sec .mv-right .voice-bg {
        width: 230px;
        height: 230px;
    }

    .mv-sec .mv-right .mv-neko-img {
        margin-left: 0;
    }

    .mv-sec .mv-right .voice-bg .voice-slider {
        top: 68%;
        left: 9px;
    }
}

@media screen and (max-width: 380px) {

    .mv-sec::before {
        top: 47%;
    }
}

@media screen and (max-width: 341px) {

    .mv-sec::before {
        top: 43%;
    }
}

@media screen and (max-width: 340px) {

    .mv-sec::before {
        top: 46%;
    }
}

/* キャンペーン概要 */
.explain-sec {
    padding: 55px 0 80px;
}

.vd-container {
    max-width: 824px;
    margin: 0 auto;
}

.vd-container iframe {
    width: 100%;
}

.m-bg-w {
    background: #fff;
    border-radius: 37px;
    padding: 55px 20px 60px;
    position: relative;
}

.ari-img::after {
    content: "";
    background: url(../img/common/campaig2.png)no-repeat;
    background-size: contain;
    width: 136px;
    height: 220px;
    position: absolute;
    bottom: 30px;
    right: 45px;

}

.rayal-txt1 {
    font-size: 1.6rem;
}

.rayal-txt2 {
    font-size: 1.8rem;
}

.ari-img {
    margin-bottom: 80px;
}

@media screen and (max-width: 1080px) {
    .rayal-txt1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .ari-img::after {
        width: 130px;
        height: 195px;
        bottom: -95px;
        right: 0px;
    }

    .ari-img {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 768px) {
    .m-bg-w {
        padding: 40px 20px 50px;
    }

    .ari-img::after {
        width: 88px;
        height: 138px;
        bottom: -65px;
        right: -7px;
    }
}


.accordion-item {
    margin-top: 65px;
    position: relative;
    width: 100%;
}

.accordion-title {
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 37px;
    border: 1px solid #E2001A;
    text-align: center;
    font-size: 1.6rem;
    max-width: 352px;
    margin: 0 auto;
}

.accordion-content {
    display: none;
    margin: 70px 0 0;
}

.accordion-content p {
    line-height: 1.5;
    color: #767676;
}

.accordion-title {
    position: relative;
}

.accordion-title::before {
    position: absolute;
    top: 50%;
    right: 22px;
    display: block;
    width: 12px;
    height: 2px;
    content: "";
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: #E2001A;
}

.accordion-title::after {
    position: absolute;
    top: 50%;
    right: 22px;
    display: block;
    width: 12px;
    height: 2px;
    content: "";
    /* -webkit-transform: translate(0, -50%) rotate(90deg); */
    transform: translate(0, -50%) rotate(90deg);
    background-color: #E2001A;
}

.accordion-title.open::after {
    display: none;
}

@media screen and (max-width: 768px) {}

.model-gp .model-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.model-inu,
.model-neko {
    position: relative;
}

.model-txt {
    font-size: 1.6rem;
    font-weight: 600;
}

.model-txt-po1 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 36%;
}

.model-txt-po2 {
    position: absolute;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 27%;
}

@media screen and (max-width: 768px) {}

.apply-sec {
    padding: 80px 0 55px;
    background: linear-gradient(360deg, #F8F8F8 86%, #fff 100%);
}

.sub-sub-ttl {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background: #767676;
    color: #fff;
    border-radius: 26px;
    padding: 13px 10px;
}

.app-time {
    padding: 30px 0 40px;
}

.app-time .app-time-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.app-time .app-time-list li {
    position: relative;
    padding-left: 110px;
}

.app-time .app-time-list-txt li {
    position: relative;
    padding-left: 165px;
}

.app-time .app-time-list li::before {
    background-size: contain;
    width: 97px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.6rem;
    text-align: center;
    padding: 2px 0 0;
}

.app-time .app-time-list li:first-child::before {
    content: "受付開始";
    background: url(../img/common/y_text_bg.png)no-repeat;
    color: #333;
}


.app-time .app-time-list li:last-child::before {
    content: "締め切り";
    background: url(../img/common/r_text_bg.png)no-repeat;
    color: #fff;
}

.app-time .app-time-list-txt li:first-child::before {
    content: "エントリー期間";
    background: url(../img/common/y_text_bg1.png)no-repeat;
    color: #333;
    width: 150px;
    height: 28px;
}

.apply-logo::before {
    content: "";
    width: 167px;
    height: 166px;
    background: url(../img/common/app_logo.png)no-repeat;
    background-size: contain;
    position: absolute;
    top: -70px;
    left: 35px;
}

.par-info-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px
}

.par-info-list li {
    position: relative;
    padding-top: 40px;
}

.par-info-list li .num {
    font-family: din-2014, sans-serif;
    font-size: 5rem;
    font-weight: 400;
    color: #EBEBEB;
}

.par-info-list li .ttl {
    font-size: 1.8rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.par-info-list li .txt {
    font-size: 1.4rem;
    color: #767676;
}

.par-info-list li .num-po {
    position: absolute;
    top: 0px;
    left: 0px;
}

.par-info-list li::after {
    content: "";
    background: url(../img/common/arw.png)no-repeat;
    background-size: contain;
    width: 25px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 37%;
    transform: translateY(-50%);
}

.par-info-list li:last-child::after {
    display: none;
}

.prize-txt {
    font-size: 2rem;
    color: #333333;
}

.prize-txt span {
    font-size: 1.6rem;
    color: #333333;
}

.prize-ttl .sub-txt1 {
    position: absolute;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    top: 60%;
    transform: translateY(-50%);
    left: 35px;
    letter-spacing: -2px;
}

.prize-ttl .sub-txt2 {
    position: absolute;
    font-size: 2.2rem;
    color: #333;
    text-align: center;
    top: 60%;
    transform: translateY(-50%);
    left: 35px;
    letter-spacing: -2px;
}

.prize-ttl .sub-txt3 {
    position: absolute;
    font-size: 1.7rem;
    color: #333;
    text-align: center;
    top: 63%;
    transform: translateY(-50%);
    left: 35px;
    letter-spacing: -2px;
}

.prize-info-txt {
    font-size: 1.8rem;
}

.prize-info-txt1 {
    padding: 30px 0 40px;
}

.prize-info-txt .info1 {
    font-size: 1.2rem;
}

.prize-info-txt .info2 {
    font-size: 2.6rem;
}

.bor-bt-g {
    border-bottom: 1.5px solid #EBEBEB;
}

.prize-img {
    position: relative;
}

.prize-img::before {
    content: "";
    background: url(../img/common/model1.png)no-repeat;
    background-size: contain;
    width: 248px;
    height: 300px;
    position: absolute;
    top: 5%;
    left: -70px;
}

.prize-img::after {
    content: "";
    background: url(../img/common/model2.png)no-repeat;
    background-size: contain;
    width: 230px;
    height: 270px;
    position: absolute;
    bottom: 15%;
    right: -70px;
}

.btn a {
    cursor: pointer;
    padding: 20px 20px;
    border-radius: 37px;
    background: #E2001A;
    text-align: center;
    max-width: 352px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}

.btn a::after {
    content: "";
    background: url(../img/common/icon_click.png)no-repeat;
    background-size: contain;
    width: 33px;
    height: 44px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.w-chance-icon {
    position: relative;
    padding: 0 60px;
}

.w-chance-icon::before {
    content: "";
    background: url(../img/common/label.png)no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    position: absolute;
    left: -45px;
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-list li {
    padding: 0 50px;
    width: 50%;
}

.crown-img {
    margin-top: -20px;
    position: relative;
}

.crown-img .crown-ttl {
    position: absolute;
    font-size: 1.6rem;
    color: #333;
    text-align: center;
    top: 68%;
    transform: translateY(-50%);
    left: 60px;
    letter-spacing: 0px;
}

.crown-txt {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

.product-flex {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .apply-sec {
        background: linear-gradient(360deg, #F8F8F8 90%, #fff 100%);
    }
}

@media screen and (max-width: 1020px) {
    .prize-img::before {
        left: 0;
    }

    .prize-img::after {
        right: 0;
    }
}

@media screen and (max-width: 890px) {
    .apply-logo::before {
        width: 130px;
        height: 130px;
        top: -60px;
        left: 0px;
    }

    .par-info-list li .num {
        font-size: 4rem;
    }

    .par-info-list li::after {
        width: 20px;
        height: 24px;
    }

    .prize-img::before {
        width: 210px;
        height: 255px;
    }

    .prize-img::after {
        width: 190px;
        height: 229px;
    }

}

@media screen and (max-width: 768px) {

    .accordion-item {
        margin-top: 40px;
    }

    .accordion-title {
        padding: 15px 20px;
    }

    .model-gp .model-list {
        display: block;
    }

    .model-txt-po1 {
        top: 55%;
        left: 36%;
    }

    .model-txt-po2 {
        right: 26%;
    }

    .model-inu,
    .model-neko {
        width: fit-content;
        margin: 0 auto;
    }

    .explain-sec {
        padding: 55px 0 60px;
    }

    .apply-sec {
        padding: 60px 0 55px;
    }

    .model-txt {
        font-size: 1.5rem;
    }

    .apply-logo::before {
        width: 95px;
        height: 95px;
        top: -45px;
    }

    .app-time .app-time-list {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .app-time .app-time-list li:last-child {
        margin-bottom: 0;
    }

    .par-info-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-top: 30px;
    }

    .par-info-list li::after {
        transform: translate(0, -50%) rotate(90deg);
        bottom: -57px;
        right: initial;
        top: initial;
        left: 47%;
    }

    .par-info-list li .num-po {
        position: absolute;
        top: 5px;
        left: 35%;
        transform: translateX(-50%);
    }

    .par-info-list li {
        margin-bottom: 50px;
    }

    .prize-img::before {
        width: 159px;
        height: 189px;
        top: 29%;
        left: -10px;
        z-index: 1;
    }

    .prize-img::after {
        width: 146px;
        height: 167px;
        bottom: 32%;
        right: -10px;
    }

    .app-time .app-time-list li::before {
        font-size: 1.5rem;
    }

    .par-info-list li .ttl {
        font-size: 1.6rem;
    }

    .par-info-list li:last-child {
        margin-bottom: 10px;
    }

    .prize-ttl img {
        width: 170px;
    }

    .prize-ttl .sub-txt1 {
        font-size: 2rem;
        left: 41px;
        top: 66%;
    }

    .prize-txt {
        font-size: 1.6rem;
    }

    .prize-txt span {
        font-size: 1.4rem;
    }

    .prize-info-txt {
        font-size: 1.6rem;
    }

    .prize-info-txt .info2 {
        font-size: 2.2rem;
        letter-spacing: 2px;
    }

    .prize-ttl .sub-txt2 {
        font-size: 1.8rem;
        top: 63%;
        left: 38px;
    }

    .product-flex {
        flex-wrap: wrap;
    }

    .product-flex li {
        width: 33.33%;
    }

    .product-list {
        display: block;
    }

    .product-list li {
        padding: 0 0px;
        width: 100%;
        margin-bottom: 30px;
    }

    .product-list li:last-child {
        margin-bottom: 0;
    }

    .w-chance-icon::before {
        width: 53px;
        height: 53px;
    }

    .w-chance-icon {
        padding: 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .prize-img::before {
        display: none;
    }

    .prize-img::after {
        display: none;
    }

    .prize-info-txt1 {
        padding: 30px 0 195px;
    }

    .prize-img-sp::after {
        display: block;
        content: "";
        background: url(../img/common/model_sp.png)no-repeat;
        background-size: contain;
        width: 260px;
        height: 186px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 500px) {
    .w-chance-icon::before {
        top: 5px;
        left: -30px;
    }
}

@media screen and (max-width: 450px) {
    .model-txt {
        font-size: 1.4rem;
    }

    .model-inu img {
        width: 330px;
    }

    .model-neko img {
        width: 330px;
    }

    .par-info-list li .num-po {
        left: 27%;
    }

    .prize-img::before {
        left: 29%;
    }

    .prize-img::after {
        right: 0;
    }

    .w-chance-icon::before {
        top: 10px;
    }

    .w-chance-icon::before {
        top: 15px;
        left: -24px;
        width: 45px;
        height: 45px;
    }

}

@media screen and (max-width: 355px) {

    .w-chance-icon::before {
        top: 15px;
    }

}

@media screen and (max-width: 354px) {

    .par-info-list li .num-po {
        left: 22%;
    }

    .w-chance-icon::before {
        width: 45px;
        height: 45px;
        left: -10px;
        top: 20px;
    }

}

.quiz_ttl {
    font-size: 2.8rem;
    color: #E2001A;
    text-align: center;
}

.quiz_ttl span {
    font-size: 2rem;
    color: #333;
}